* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: teal;
}

.cards { 
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}